<!-- password-list.component.html -->
<div class="password-list">
  <h2>Lista haseł</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa strony</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwords">
        <td>{{ password.site_name }}</td>
        <td>
          <button (click)="openDialog(password)" class="btn btn-primary show-data" data-bs-toggle="modal" data-bs-target="#passwordModal">Pokaż dane do logowania</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-password-dialog *ngIf="selectedPassword" [password]="selectedPassword" (passwordDeleted)="loadPasswords()"></app-password-dialog>
</div>